:root{
  font-family: 'Gayathri', sans-serif;
  font-family: 'Exo 2', sans-serif;
}



body{
  background-color: cadetblue;
}



.menu ul {
    display: flex;
    justify-content: flex-end;
 
  }
  .menu ul li {
    list-style-type: none; 
    }
  
  .menu ul li a {
    text-decoration: none;
    margin-left: 32px;
    color: black;
    font-family: 'Gayathri', sans-serif;
  }
  

  .parte1 {
    padding: 500px 40px 500px 40px;
    background-image:url("../img/jt1.jpg");
    background-repeat: no-repeat; 
   background-size: 1500px 100%; 
    background-position: center;

  }

  .parte1 h1{
    color:red;
    text-align: center;
    font-family: 'Exo 2', sans-serif;

   
    
  }
  .parte2{
    display: grid;
    grid-template-columns: 1fr;
  }

.parte2 h1{
  
  color: red;
  margin:auto;
  border-bottom: 3px solid blue;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
 
}

div.parte3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/*.parte3 #ig2{
  
  height: 400px;
  width: 400px;
 
}

.parte3 h2{
  color: red;
  text-align: left;
  margin: auto;
  border-bottom: 2px solid blue;
}
.parte3 h2{


}
.parte3 #ig3{
  height: 400px;
  width: 400px;
}
.parte3 #ig4{
  height: 400px;
  width: 400px;
}
*/
div.box{
  text-align: center;
  margin: 20px;
  min-width: 95%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

div.box.box-desc{
  display: flex;
  flex-wrap: wrap;
}

div.box.box-desc div{
  max-width: 50%;
  text-align: left;
}
div.text-desc{
  padding: 20px;
}

div.box.box-desc img{
  width: 100%;
}

@media screen and ( min-width:600px){

  .menu ul {
    display: flex;
    justify-content: left;
 
  }
  .menu ul li {
    list-style-type: none; 
    }
  
  .menu ul li a {
    text-decoration: none;
    margin-left: 32px;
    color: black;
    font-family: 'Gayathri', sans-serif;
  }
  

  .parte1 {
    padding: 500px 40px 500px 40px;
    background-image:url("../img/jt1.jpg");
    background-repeat: no-repeat; 
   background-size: 1000px 100%; 
    background-position: center;

  }


}