:root{
  font-family: 'Gayathri', sans-serif;
  font-family: 'Exo 2', sans-serif;
}



body{
  background-color: cadetblue;
}



.menu ul {
    display: flex;
    justify-content: flex-end;
 
  }
  .menu ul li {
    list-style-type: none; 
    }
  
  .menu ul li a {
    text-decoration: none;
    margin-left: 32px;
    color: black;
    font-family: 'Gayathri', sans-serif;
  }
  

  .parte1 {
    padding: 500px 40px 500px 40px;
    background-image:url("../img/jt1.jpg");
    background-repeat: no-repeat; 
   background-size: 1500px 100%; 
    background-position: center;

  }

  .parte1 h1{
    color:red;
    text-align: center;
    font-family: 'Exo 2', sans-serif;

   
    
  }
  .parte2{
    display: grid;
    grid-template-columns: 1fr;
  }

.parte2 h1{
  
  color: red;
  margin:auto;
  border-bottom: 3px solid blue;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
 
}

div.parte3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

div.box{
  text-align: center;
  margin: 20px;
  min-width: 95%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

div.box.box-desc{
  display: flex;
  flex-wrap: wrap;
}

div.box.box-desc div{
  max-width: 50%;
  text-align: left;
}

div.text-desc{
  padding-left: 3%;
  max-width: 47% !important;
}

div.suscribir{
  max-width: 100% !important;
}

div.box.box-desc img{
  width: 100%;
}

.input-suscribe{
  width: 30%;
  height: 40px;
  margin: 20px
}

.button-suscribe{
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 15px;
}

.partefinal .box{
  display: flex;
  padding-left: 30px;
  text-align: left !important;
}

.partefinal i{
  color: white;
  font-size: 30px;
  padding: 10px 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius:50%;
  width: 30px;
  text-align: center;
}

.box-item img{
  width: 100% !important;
}

@media screen and ( min-width:800px){

  div.parte3{
    display: flex;
    align-content: space-between !important;
    flex-direction: initial;
    width: 100%;
  }

  .box-item{
    text-align: center !important;
    margin: 20px !important;
    width: 30% !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    padding: 20px !important;
    min-width: 30% !important;
  }

  .menu ul {
    display: flex;
    justify-content: left;
 
  }
  .menu ul li {
    list-style-type: none; 
    }
  
  .menu ul li a {
    text-decoration: none;
    margin-left: 32px;
    color: black;
    font-family: 'Gayathri', sans-serif;
  }
  

  .parte1 {
    padding: 500px 40px 500px 40px;
    background-image:url("../img/jt1.jpg");
    background-repeat: no-repeat; 
    background-size: 1000px 100%; 
    background-position: center;

  }


}